:root {
  font-family: sans-serif;
  font-size: calc(1em + 2vmin + 3vmax);
}

:any-link {
  font-size: max(1em, 44px);
}

:focus {
  outline-color: currentColor;
  outline-style: dashed;
  outline-width: thick;
}

body {
  margin: auto;
}

figure {
  margin: auto;
  padding-block-end: 3rem;
}

em {
  font-family: cursive;
}

blockquote {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  margin-block-start: 33vh;
  margin-block-end: 33vh;
}

figcaption {
  max-width: 10em;
  position: absolute;
  top: 100vh;
  padding: 5vmin;
  font-family: monospace;
  font-size: .5rem;
}
